.App .nav {
  text-align: center;
  color: cornflowerblue;
  background-color: #282c34;
  padding: 20px 100px;
}

.App .navList {
  margin: 0;
}

.App .navItem {
  display: inline;
  padding-right: 80px;
}

.App .link {
  color: cornflowerblue;
  text-decoration: none;
  width: 80px;
}

.App .active {
  text-decoration: none;
  color: palevioletred;
  padding: 5px 10px;
  border-radius: 10px;
}

.App .logOut {
  display: inline;
  margin-left: 100px;
}

.App .logOutBtn {
  color: cornflowerblue;
  text-decoration: none;
  border: cornflowerblue solid 0.05em;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
  margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
