.App .nav {
  color: cornflowerblue;
  padding: 20px 100px;
}

.App .navList {
  margin: 0 auto;
}

.App .navItem {
  display: inline;
  padding-right: 80px;
}

.App .link {
  color: cornflowerblue;
  text-decoration: none;
  padding: 5px 10px;
  width: 80px;
  border: cornflowerblue solid 0.01em;
  border-radius: 20px;
}

.App .link:focus {
  text-decoration: none;
  color: palevioletred;
  padding: 5px 10px;
  border: palevioletred solid 0.01em;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0.02, 0.04);
}

.App .logOut {
  display: inline;
  margin-left: 80px;
}

.App .logOutBtn {
  color: cornflowerblue;
  text-decoration: none;
  border: cornflowerblue solid 0.05em;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0.02, 0.04);
  font-weight: bolder;
  margin-left: 20px;
}

.App .signIn {
  border: cornflowerblue dotted 0.05em;
  border-radius: 20px;
  margin: 20px auto;
  width: 600px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0.02, 0.04);
}

.App h3 {
  text-align: center;
  color: royalblue;
  margin: 20px;
}

.App p {
  font-weight: bolder;
  text-align: center;
  font-size: larger;
  margin: 0 auto;
  color: royalblue;
}

.App #dropdownList {
  margin: 20px auto;
  width: 400px;
  color: royalblue;
  border: royalblue dotted 0.05em;
  border-radius: 20px;
}

.App .btn {
  color: royalblue;
  text-decoration: none;
  border: cornflowerblue solid 0.05em;
  padding: 5px 20px;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0.02, 0.04);
  font-weight: bolder;
  margin: 10px auto;
}

.App .error {
  color: salmon;
}

.App .openNewUserForm {
  border: none;
  color: royalblue;
  background-color: transparent;
  margin: 10px auto;
  display: block;
}

.App .openNewUserForm:hover {
  text-decoration: underline;
}

.App .openNewUserForm:focus {
  color: tomato;
  outline: none;
}

.App .input {
  margin: 10px auto;
  width: 400px;
  border: royalblue dotted 0.05em;
  border-radius: 20px;
}

.App .info {
  color: salmon;
  margin-bottom: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: block;
  margin: 10px auto;
  height: 100px;
  border-radius: 100px;
}
