li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}
.avatar {
  height: 90px;
  border-radius: 50px;
  margin: 15px;
}

.questionNotInFull {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0.02, 0.04);
}

.question {
  margin-left: 30px;
  text-align: center;
}

.optionText {
  font-style: italic;
  font-size: larger;
  margin: 10px;
}

.viewFullBtn {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bolder;
  padding: 5px 10px;
  width: 80px;
  border: cornflowerblue solid 0.01em;
  border-radius: 20px;
  transition: all 200ms ease-in-out;
}

.viewFullBtn:hover {
  background-color: cornflowerblue;
  color: whitesmoke;
}
